border{
    /*border: 1px solid;*/
    width: 100%;
    height: 100%;
  }
  
  .row {
  
      margin-left: 0;
      margin-right: 0;
  }
  
  .row > [class*="col-"] {
       padding-left: 0;
       padding-right: 0;
  }
  


body{
    font-family: 'montserrat', sans-serif;
    overflow-x: hidden;
}

#menu a {
     font-size: 18px;
     font-weight:bold;
     color: #3f3f3f;
}

#menu button {
    font-size: 18px;
    font-weight:bold;
}

.carousel-item{
    max-height: 39rem;
}



.logo img{
       max-width: 6rem;
     
}

.imagenes{
     max-width: 39rem;
}


